@page
@model HelloAspDotNetCore.Pages.CpuModel
@{
    ViewData["Title"] = "Cpu";
}

<h1>Cpu</h1>

<code>Duration ms (durationMs) = @ViewData["durationMs"]</code><br/>
<code>maxPrime = @ViewData["maxPrime"]</code>
